@import 'partials/constants';
@import 'custom/card';
@import 'custom/navbar';
/*Checkbox*/
[type="checkbox"]:checked+label:before {
    top: 5px;
    left: 1px;
    width: 7px;
    height: 13px;
  }
.ads-card{
  height:250px;
  background: #ccc;
  padding: 0px !important;
  margin-bottom: 10px;
  &:first-child{
  margin-top:0.5rem;
  }
  img{
       box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }
}
.collapsible-header{
  min-height: 2.5rem;
  line-height:2.5rem;
  i{
    line-height: 2.5rem;
    font-size:1.3rem;
    margin-right:0.2rem;
  }
}
.btn-floating.btn-large i {
  line-height: 59.5px;
}
.collapsible-body{
  p{
    a.modal-trigger{
      margin-bottom:2px;
      margin-top:2px;
      border-bottom: 1px dashed #F44336;
      display: inline-block;
      &:hover{
        border-bottom: 1px solid #f44336;
      }
    }
    &:last-child{
      margin-bottom: 10px;
    }
  }
}
[type="checkbox"]+label:before {
top: 4px;
    left: 5px;
    width: 12px;
    height: 12px;
}

[type="checkbox"]+label {
  height: 12px;
}

a{
  color:black;
  text-decoration:none;
}
.custom-container {
  width: 85%;
  margin: 0 auto; }

body {
  font-family: $baseFont;
  font-weight: 500; }

.input-field {
  width: 50%;
  margin: 0 auto !important; }

nav {
  background: black;
  margin-bottom: 3em; }

#brand-logo {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px; }

#brand-logo img {
  position: absolute;
      top: 7px;
    left: 33px;
    width: 60px;}

.blog-image {
  max-height: 100%; }

.custom-chip {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
  border-radius:0px;
  padding: 0px 5px;
  }

.collapsible-header{
      font-size: 0.9em;
}
.collapsible-body{
  font-size:0.8em;
  padding-left: 15px;
}
[type="radio"]:not(:checked)+label, [type="radio"]:checked+label{
  font-size:1em;
}
hr {
  border-color: red; }

.location-name {
  display: inline-block; 
  padding-left: 0px !important;
  font-size: 0.85em;
  }


.info {
  display: none; }

.page-footer {
  background: #1a1f23 !important;
  color: white; }

.experience-chip {
  /*background: #69f0ae;*/
  background: #DCFFA4;
   }

.outlet-chip {
  /*background: #ffd740;*/
  background: #DDE89B;
 }

.rating {
  position: absolute;
  right: 10px;
  bottom: -9px;
  z-index: 10;
  color: white;
  background: #FF2C2C;
  padding: 8px;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #5A5A5A;
  .material-icons{
    font-size:0.8em;
  }
  }
.input-field {
  background: white;
  height: 60%; }

.collapsible-body{
  label{
  color: black;
  font-size:0.9em;
  }
  p{
  padding: 5px 1rem;
  }
}
.collapsible-header.active{
  background: rgb(244, 67, 54);
   color: white;
   box-shadow: 0px 1px 1px 1px #E0E0E0 inset;
}
.mobile-only-filters {
  background: #EFE9E9; 
  display:  table;
  width: 100%;
  height: 100px;
  }

/*Card*/
.blog-card{
  height: auto!important;
}
.card .card-title{
    font-size: 1em;
}
.card .card-image .card-title{
  padding: 10px;
  font-weight: 500;
}
.card-content{
  padding: 10px;
  text-overflow: ellipsis;
  text-align: justify;
  margin-bottom: 0px;
}
.blog-card .card-content{
  padding: 0px 10px 0px !important;
  line-height: 1.5em;
  max-height:6.0em!important;
  overflow:hidden;
  margin: 1em 0px;
  font-size: 0.85em;
  .material-icons{
    font-size:0.9em;
    margin-right: 5px;
  }
}
@media only screen and (min-width: 601px){
  nav{
      height: 40px;
    line-height: 40px;
    .nav-wrapper i{
    height: 40px;
    line-height: 40px
    }
  }
 ul#nav-mobile a {
    font-size: 0.8em;
    }
}
@media #{$large-and-up}{
  .card-icons{
    .material-icons{
      font-size: 1em;
    }
  }
  .info{
  font-size:0.8em;
    .material-icons{
      font-size:1em;
    }
  p span{
    margin: 5px;
  }
  }
  .best-for{
    font-size:0.8em;
    .material-icons{
      font-size:1em;
    }
  }
  .card-content{
    font-size:1em;
    padding: 10px !important;
    .row{
      margin-bottom:0px;
    }
  }
}
@media #{$medium-and-down}{
  body{
  font-size: 2em;
  overflow-x: hidden;
  }
  .blog-image{
  max-height: 75% !important;
  }
  .blog-card .card-content{
  max-height: 25%! important;
  }
  .subscribe-me-button{
  z-index:100;
  padding: 10px;
  a i.material-icons{
  font-size:1.5em;
  }
  }
  label{
  color: black;
  font-size: 0.8em!important;
  }

  .custom-container{
    width:95%;
  }
  .blog-card {
    height: 600px !important;
}
.rating{
  .material-icons{
    font-size:1em;
  }
}
  nav{
    height:150px;
    margin-bottom:0em;
  }
  .mobile-only-filters{
    .container{
      width:100%;
      padding:10px;
      display: table-cell;
      vertical-align: middle;
    }
  }
  .material-icons{
    font-size: 1.5em; 
  }
  .rating{
     padding:1em;
     bottom: -40px;
     right: 20px;
  }
  #footer-left-pane{
    text-align:left;
  }
  .side-nav{
    a{
    font-size: 1.2em;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 15px 0px;
    }
  }
  #brand-logo-mobile-wrapper{
    height: 200px;
    display: table;
    width:100%;
  }
  #brand-logo-mobile{
    text-align:center;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
  }
 
  .chip{
    height: 2em;
    font-size: 1em;
    line-height: 2em;
    padding: 0 1em;
    border-radius: 1em;
  }
  .custom-chip{
    top: 1em;
    left: 1em;
  }
.best-for{
      font-size: 0.95em;
}
  .best-for p{ 
    span{
      font-size:0.8em;
      }
    i{
      font-size: 0.8em;
      }
  }
  #mobile-nav{
      height: 100%;
      display: table;
      width:100%;
  }
  nav a.button-collapse{
    display: table;
    height: 100%;
  }
  #mobile-nav a i{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    font-size: 2em;
    padding-left: 1em;
  }
  .bottom-sheet{
  font-size: 1.2em;
    .collection{
        .collection-item{
          margin: 20px;
          padding:20px;
          .secondary-content{
                position: absolute;
              top: 0.75em;
              right: 16px;
            }
        }
      }
  }

  .mobile-only-filters .row .col{
    position: relative;
    a i{
        position: absolute;
    top: 0px;
    left: 0px;
    }
  }
  #mobile-nav-search{
    width: 80%;
    background: white;
    height: 60%;
    margin: 0 auto;
  }
  #mobile-nav-search-wrapper{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    width: 80%;
    input{
    color: black;
    font-size: 1.2em;
      padding: 20px;
    }
  }
}


/*Search*/
#custom-search{
    font-size: 15px;
    color: black;
}

/* Footer */
.footer-copyright{
  height: 30px;
  line-height: 30px;
}
.mk-footer-copyright{
  font-size: 0.8em;
  font-weight: 500;
}
.page-footer{
  font-size: .85em;
  a{
  color: white;
  }
  .row{
  margin-bottom: 5px;
  }
}
.footer-social-icons{
  i{
  margin-right: 10px;
  }
  &:last-child{
  margin-right:0px;
  }
}
.widgettitle{
  font-size: 1.2em;
  margin-bottom: 10px;
}
.footer-menu{
  margin:0px;
  li{
    &:first-child{
      margin-bottom:5px;
    }
  }
}
/* Modals */

.modal-desktop-content{
  label{
     color: black;
     font-size:0.8em;
  }
}

.modal-desktop-title{
  border-bottom: 1px solid #F44336;
  padding-bottom: 5px;
}
