.card-image {
  position: relative; }

.card-title {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  font-size: 2em;
 }

.card-content {
  width: 100%;
  display: inline-block;
  font-size: 13px; }

.card-content .row {
  margin-bottom: 10px; }

.card-map {
  width: 45%;
  display: inline-block;
  padding-right: 0px;
  margin-left: 5px; }

.card-map iframe {
  width: 100%; }

.card-icons {
  display: inline; 
  text-align:right;
}
 .card-content{
  font-size:1.1em;
  }

.card-plain{
  padding: 1em;
}
.card-plain-title{
  font-size:1.3em;
}
.card-plain-content ul{
  list-style-type:none;
}


/* Advertisement Cards */
.ads-card{
  height:250px;
  background: #ccc;
  padding: 0px !important;
  margin-bottom: 10px;
  &:first-child{
  margin-top:0.5rem;
  }
  img{
       box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  }
}